build/
node_modules/
package-lock.json
out/
.cache/
compile_commands.json
/prebuilds/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/isolated-vm.iml
/.idea/markdown.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
